:root {

    --accent_green: #3AFF16;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

    /* background-color: #F2F1EF; */
}

.container {

    max-width: 80%;
    margin: auto;
}

h1 {

    /* position: relative; */
    /* top: 3em; */
    font-size: 4.5em;
}

h2 {

    font-size: 3em;
    font-family: serif;
}

.accent_color {

    color: var(--accent_green);
}

.login_card {
    position: absolute;
    /* top: 45%; */
    
    width: 25%;
    height: 100%;
    
    min-width: 250px;
    max-width: 500px;
    
    padding-right: 3em;
    padding-left: 3em;
    
    background-color: whitesmoke;
}

.login_form {
    position: absolute;
    bottom: 10%;

    /*100% width is even wijd als de login_card maar aangezien deze padding heeft komt het er dan ook uit */
    width: 75%;
    /* padding-top: 100%; */

    display: flex;
    flex-direction: column;
    
    gap: 1em;
}

.login_form input:not(.btn) {

    outline: 0;
    border-width: 0 0 1px 0;
    border-color: lightgray;
    
    background-color: whitesmoke;
}
.login_form input:not(.btn):focus {
    
    border-width: 0 0 2px 0;
    border-color: var(--accent_green);
}

.btn {

    margin-top: 1em;
    padding: .5em;

    border: none;
    
    background-color: var(--accent_green);
    filter: saturate(.5);

    transition: filter ease-out .1s;
}
.btn:hover{

    filter: saturate(1);
}

.error_text {

    color: red;
}

.top_nav {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;

    background-color: whitesmoke;

    padding: 0 2em;
}

.top_nav h3 {
    
    font-size: 2em;
}

h3 a {

    text-decoration: none;
    color: black;
}

.top_nav .right_content {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8em;
}

.top_nav .right_content a{

    color: #a3a3a3;
    text-decoration: none;
    transition: all .2s ease-out;
}
.top_nav .right_content a:hover{

    color: black;
    text-decoration: underline;
}

a{

    color: #a3a3a3;
    text-decoration: none;
    font-size: 1em;
    transition: all .2s ease-out;
}

a:hover{

    color: black;
    font-size: 1.05em;
    text-decoration: underline;
}

.error_text {

    color: red;
}