.container {

    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;
}

.product_container .right_content {

    width: 100%;
}

.product_info {
    margin-top: 4em;

    display: flex;
    flex-direction: row;

    /* justify-content: space-between; */
    gap: 5em;

    position: relative;
}

.product_info img {

    width: 35%;
    height: 35%;
}

.product_info .title {

    margin-bottom: 0;
}

.product_info .artist {

    font-size: 2em;
    margin-top: .2em;
    margin-bottom: 0;
}

.product_info .price {

    margin-top: 0.6em;
    margin-bottom: 0;
}

.product_info .description {

    font-family: serif;
    width: 70%;

    margin-top: 2em;
}

/* .product_info .btn {

    position: absolute;
    bottom: 0;

    padding: .5em 2em;

    text-decoration: none;
    color: black;
} */

.buy_item{
    
    margin-top: 2em;

    width: 100%;
    
    display: flex;
    flex-direction: column;
}

.review_header {

    margin-top: 2em;
}

.review_input {

    display: flex;
    flex-direction: column;

    gap: 1em;
}

#submit_review {

    color: black;
    text-align: center;
}
#submit_review:hover {

    font-size: 1em;
    text-decoration: none;
}

.review_container {

    margin-top: 2em;
}

.review_input input{

    border: none;
    border-bottom: solid 1px #757575;

    width: 100%;
    min-width: 15em;
}

.review_input input:focus {

    outline: none;
}

.product_info .right_content {

    width: 100%;
}