.container {

    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;
}

.product_info {
    margin-top: 4em;

    display: flex;
    flex-direction: row;

    /* justify-content: space-between; */
    gap: 5em;

    position: relative;
}

.product_info img {

    width: 384px;
}

.product_info .title {

    margin-bottom: 0;
}

.product_info .artist {

    font-size: 2em;
    margin-top: .2em;
    margin-bottom: 0;
}

.product_info .price {

    margin-top: 0.6em;
    margin-bottom: 0;
}

.product_info .description {

    font-family: serif;
    width: 70%;

    margin-top: 2em;
}

/* .product_info .btn {

    position: absolute;
    bottom: 0;

    padding: .5em 2em;

    text-decoration: none;
    color: black;
} */

.buy_item{
    
    margin-top: 2em;

    width: 100%;
    
    display: flex;
    flex-direction: column;
}