h2 {

    /* margin-left: 2em; */
    margin-top: 1.5em; 
    margin-bottom: .6em;
    padding-left: 0;
}

.container {

    max-width: 80%;
    margin: auto;
}

.products {

    display: flex;
    flex-direction: row;

    justify-content: center;

    /* width: 100%; */

    flex-wrap: wrap;

    flex-grow: 1;
}

.product_container {

    display: flex;
    flex-direction: column;

    max-width: 300px;

    align-items: start;
    gap: 2px;

    margin: 1em 1em;

    transition: all .15s ease-in-out; 
}

.products:hover .product_container{

    /* filter:blur(1.5px) brightness(.95); */
}

.products .product_container:hover {

    transform: scale(1.05);
    filter:none;
}


.product_container p {
    margin: 0;
}

.album_cover {

    max-width: 100%;
}

.filter_form{

    display: flex;
    align-items: center;
    justify-content: start;
}

.btn{

    margin: 0;
    padding: .5em 2em;
}

#genre {
    font-size: 1.2em;

    appearance: none;

    outline: 0;
    border-width: 0 0 1px 0;
    border-color: lightgray;
    
    background-color: white;

    margin-right: 1em;
} 